<div style="min-height:calc(100vh - 150px)">
    <a href="/Admin/Index"
       class="btn btn-block btn-secondary">
        Dashboard
    </a>
    <a href="/Admin/Create"
       class="btn btn-block btn-secondary">
        Add Game
    </a>
    <a href="/Admin/List"
       class="btn btn-block btn-secondary">
        Edit Games
    </a>
    <a href="/Admin/CreateUser"
       class="btn btn-block btn-secondary">
        Create User
    </a>
    <a href="/Admin/Users"
       class="btn btn-block btn-secondary">
        Edit Users
    </a>
    <a href="/Admin/Roles"
       class="btn btn-block btn-secondary">
        View Roles
    </a>
    <a href="/Admin/CreateRole"
       class="btn btn-block btn-secondary">
        Create Roles
    </a>
    <a href="/Order/list"
       class="btn btn-block btn-secondary">
        View Orders
    </a>
    <a href="/Charts/PieBasic"
       class="btn btn-block btn-secondary">
        Games per Genre (Pie)
    </a>
    <a href="/Charts/BarBasicTurnover"
       class="btn btn-block btn-secondary">
        Turnover per Genre (Bar)
    </a>
    <a href="/Charts/LineBasicSales"
       class="btn btn-block btn-secondary">
        Sales per day (Line)
    </a>
    <a href="/Charts/LineBasicTurnover"
       class="btn btn-block btn-secondary">
        Turnover per day (Line)
    </a>
    <a href="/Charts/LineBasicAccounts"
       class="btn btn-block btn-secondary">
        Accounts per day (Line)
    </a>
   
    

</div>