@{
    Layout = "_NoLayout";
}
<div style="padding: 10px calc(35% - 50px);height:calc(100vh - 134px)">
    <h2>Thanks!</h2>
    <p>Thanks for placing your order.</p>
    <p>We'll send your Games as soon as possible.</p>
</div>
