
<style>
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
    }

    .action-box {
        float: left;
        margin: 0px 10px 10px 10px;
        width: calc(25% - 20px);
        min-width: 200px;
        height: 400px;
        border-radius: 3%;
        background-color: rgba(230,230,230,0.7);
        box-shadow: 0px 10px 20px rgba(0,0,0,0.5);
    }

    .mySlides {
        display: none;
        box-shadow: 2px 15px 25px rgba(0,0,0,0.8);
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

        .active, .dot:hover {
            background-color: #717171;
        }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 3s;
        animation-name: fade;
        animation-duration: 3s;
    }

    .ad-box {
        background-color: rgba(245,245,245,1);
        height: 100%;
        width: 100%;
        border-radius: 5px;
        position: relative;
    }

    @@-webkit-keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    @@keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    /* On smaller screens, decrease text size */
    @@media only screen and (max-width: 300px) {
        .prev, .next, .text {
            font-size: 11px
        }
    }
</style>
<br />
<br />
<center><img src="https://image.ibb.co/fwDDN6/gameschop_logo.png" style="width:300px" /></center>
<br />
<br />
<div class="slideshow-container" data-step="4" data-intro="Be sure to stay up to date by checking out our recommended games. Go ahead, give it a click.">

    <div class="mySlides fade">
        <div class="numbertext">1 / 4</div>
        <a asp-action="GameInfo"
           asp-controller="Games"
           asp-route-Games="Games"
           asp-route-Genre="Action"
           asp-route-Name="Far Cry Primal">
            <img src="http://cdn.akamai.steamstatic.com/steam/apps/371660/header.jpg?t=1460460176" style="width:100%">
        </a>

        <div class="text">One</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 4</div>
        <a asp-action="GameInfo"
           asp-controller="Games"
           asp-route-Games="Games"
           asp-route-Genre="Action"
           asp-route-Name="Counter-Strike: Global Offensive">
            <img src="http://cdn.akamai.steamstatic.com/steam/apps/730/header.jpg?t=1467065027" style="width:100%">
        </a>
        <div class="text">Two</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 4</div>
        <a asp-action="GameInfo"
           asp-controller="Games"
           asp-route-Games="Games"
           asp-route-Genre="Action"
           asp-route-Name="No Man's Sky">
            <img src="http://cdn.akamai.steamstatic.com/steam/apps/275850/header.jpg?t=1472590038" style="width:100%">
            <div class="text">Three</div>
        </a>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 4</div>
        <a asp-action="GameInfo"
           asp-controller="Games"
           asp-route-Games="Games"
           asp-route-Genre="Action"
           asp-route-Name="BioShock Infinite">
            <img src="http://cdn.akamai.steamstatic.com/steam/apps/8870/header.jpg?t=1447354441" style="width:100%">
        </a>
        <div class="text">Four</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
</div>
<br />
<hr />
<br />

@*<div class="action-box">
        <br />
        <center>
            <h3>Save Up</h3>

            <img src="http://cdn.akamai.steamstatic.com/steam/apps/371660/header.jpg?t=1460460176" style="width:90%;position:relative" />
            <div class="container">
                <img src="https://image.ibb.co/cPA7x6/ribbon.png" style="width:100%;">
                <div class="centered"><h4>50&#37; Discount!</h4></div>
            </div>
        </center>
        <div style="margin:10px 10px 10px 10px">
            blah blah blah super deal, most recommended kind of shit here. click it now super cheap super cool, buy buy buy!
        </div>
    </div>
    <div class="action-box">
        <br />
        <center>
            <h3>TOP 10</h3>

            <img src="http://cdn.akamai.steamstatic.com/steam/apps/371660/header.jpg?t=1460460176" style="width:90%;position:relative" />
            <div class="container">
                <img src="https://image.ibb.co/cPA7x6/ribbon.png" style="width:100%;">
                <div class="centered"><h4>Best Selling</h4></div>
            </div>
        </center>
        <div style="margin:10px 10px 10px 10px">
            blah blah blah super deal, most recommended kind of shit here. click it now super cheap super cool, buy buy buy!
        </div>
    </div>
    <div class="action-box">
        <br />
        <center>
            <h3>New Releases</h3>

            <img src="http://cdn.akamai.steamstatic.com/steam/apps/371660/header.jpg?t=1460460176" style="width:90%;position:relative" />
            <div class="container">
                <img src="https://image.ibb.co/cPA7x6/ribbon.png" style="width:100%;">
                <div class="centered"><h4>This Month</h4></div>
            </div>
        </center>
        <div style="margin:10px 10px 10px 10px">
            blah blah blah super deal, most recommended kind of shit here. click it now super cheap super cool, buy buy buy!
        </div>
    </div>
    <div class="action-box">
        <br />
        <center>
            <h3>Recommended</h3>

            <img src="http://cdn.akamai.steamstatic.com/steam/apps/371660/header.jpg?t=1460460176" style="width:90%;position:relative" />
            <div class="container">
                <img src="https://image.ibb.co/cPA7x6/ribbon.png" style="width:100%;">
                <div class="centered"><h4>For You</h4></div>
            </div>
        </center>
        <div style="margin:10px 10px 10px 10px">
            blah blah blah super deal, most recommended kind of shit here. click it now super cheap super cool, buy buy buy!
        </div>
    </div>*@



<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        if (n == -1 && slideIndex == 0) {
            slideIndex = 3;

        }
        if (n == 1 && slideIndex == 3) {
            slideIndex = 0;
        }
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex += n - 1].style.display = "block";

    }

    function currentSlide(n) {
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[n - 1].style.display = "block";
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        setTimeout(showSlides, 3000);
    }
</script>
