@{
    ViewBag.Title = "Sent";
    Layout = "_NoLayout";
}
<div style="width:100%;height:calc(100vh - 134px);padding: 50px 50px">
    <h2>Your message has been sent.</h2>
    <p>Thank you for your comments.</p>
</div>