@{
    ViewData["Title"] = "Confirm email";
    Layout = "_NoLayout";
}

<h2>@ViewData["Title"]</h2>
<div>
    <center>
        <p>
            Thank you for confirming your email.
        </p>
    </center>
</div>
