@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "_NoLayout";
}

<h2>@ViewData["Title"]</h2>
<center>
    <p>
        Please check your email to reset your password.
    </p>
</center>
